<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="dots"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar class="search-bar" (ionChange)="onChangeSearchBar($event)" [(ngModel)]="searText"></ion-searchbar>
  <ion-item lines="none" class="item-header-trending">
    <ion-label class="label-danh-sach-chot">Loto được chơi nhiều trong ngày</ion-label>
    <ion-datetime class="date-trending" max="{{originDateCurrent}}" displayFormat="DD-MM-YYYY"
      [(ngModel)]="dateTrending" (ionChange)="onChangeDateTimeTrending($event)">
    </ion-datetime>
    <ion-icon class="icon-create" name="calendar"></ion-icon>
  </ion-item>
  <ion-grid class="grid-content-trending">
    <ion-row>
      <ion-col>
        <div class="center" *ngIf="onLoadingTrending">
          <ion-spinner></ion-spinner>
        </div>
        <ion-row *ngIf="onShowShortTrending">
          <ion-col *ngFor="let TrendingShort of arrayTrendingShort;let i = index;">
            <ion-text class="text-trending" [ngStyle]="{'font-size': (25 - i/2) + 'px'}">
              {{TrendingShort.number}}
            </ion-text>
            <ion-badge
              [ngStyle]="{'font-size': (14 - i/4) + 'px', 'margin-left': 40 + '%', 'margin-top': (-30 + i/5) + '%'}"
              class="notifications-badge" *ngIf="TrendingShort.rlst !== ''">
              {{TrendingShort.rlst}}
            </ion-badge>
          </ion-col>
          <ion-text class="xem-them" (click)="onshowMore()">Xem tất cả</ion-text>
        </ion-row>
        <ion-row *ngIf="onShowLongTrending">
          <ion-col *ngFor="let Trending of arrayTrending;let i = index;">
            <ion-text class="text-trending" [ngStyle]="{'font-size': (25 - i/9) + 'px'}">{{Trending.number}}
            </ion-text>
            <ion-badge style="font-size: 9px;"
              [ngStyle]="{'margin-left': (45 - i/2) + '%', 'margin-top': (-30 - i/9) + '%'}" class="notifications-badge"
              *ngIf="Trending.rlst !== ''">
              {{Trending.rlst}}
            </ion-badge>
          </ion-col>
          <ion-text class="xem-them" (click)="onNoShow()">Thu gọn</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item lines="none" class="item-date-dschot">
    <ion-label class="label-danh-sach-chot">Danh Sách chốt ngày</ion-label>
    <ion-datetime class="datetime-dschot" displayFormat="DD-MM-YYYY" max="{{dateCurrent}}" value="{{dateCurrent}}"
      (ionChange)="onChangeDateDsChot($event)">
    </ion-datetime>
    <ion-icon class="icon-create" name="calendar"></ion-icon>
  </ion-item>
  <ion-card *ngFor="let theodoiArray of theodoiArrays;  let i = index" class="card">
    <ion-grid>
      <ion-row>
        <ion-col size="11">
          <ion-label class="label-name-theo-doi">{{theodoiArray.name}}</ion-label>
          <ion-label class="label-name-theo-doi" *ngIf="theodoiArray.name === ''">ThanLo</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-label>{{i}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label class="label-thoigian">{{theodoiArray.time}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-label class="label-lo-theo-doi">Lô: </ion-label>
          <ion-label class="label-result">{{theodoiArray.lo}}</ion-label>
        </ion-col>
        <ion-col *ngIf="theodoiArray.lodau[0] !== ''">
          <ion-label class="label-lo-theo-doi">Lô Đầu: </ion-label>
          <ion-label class="label-result">{{theodoiArray.lodau}}</ion-label>
        </ion-col>
        <ion-col *ngIf="theodoiArray.lodit[0] !== ''">
          <ion-label class="label-lo-theo-doi">Lô Đít: </ion-label>
          <ion-label class="label-result">{{theodoiArray.lodit}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" *ngIf="theodoiArray.de !== null">
          <ion-label class="label-de-theo-doi">Đề: </ion-label>
          <ion-label class="label-result">{{theodoiArray.de}}</ion-label>
        </ion-col>
        <ion-col size="5" *ngIf="theodoiArray.dedau[0] !== ''">
          <ion-label class="label-de-theo-doi">Đề đầu: </ion-label>
          <ion-label class="label-result">{{theodoiArray.dedau}}</ion-label>
        </ion-col>
        <ion-col *ngIf="theodoiArray.dedit[0] !== ''">
          <ion-label class="label-de-theo-doi">Đề đít: </ion-label>
          <ion-label class="label-result">{{theodoiArray.dedit}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" *ngIf="theodoiArray.lobt !== ''">
          <ion-label class="label-lo-theo-doi">BT Lô: </ion-label>
          <ion-label class="label-result">{{theodoiArray.lobt}}</ion-label>
        </ion-col>
        <ion-col *ngIf="theodoiArray.ratio_lobt !== ''">
          <ion-label class="label-lo-theo-doi">Rate Lô: </ion-label>
          <ion-label class="label-result">({{theodoiArray.ratio_lobt}})
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" *ngIf="theodoiArray.debt !== ''">
          <ion-label class="label-de-theo-doi">BT Đề: </ion-label>
          <ion-label class="label-result">{{theodoiArray.debt}}</ion-label>
        </ion-col>
        <ion-col *ngIf="theodoiArray.ratio_debt !== ''">
          <ion-label class="label-de-theo-doi">Rate Đề: </ion-label>
          <ion-label class="label-result">({{theodoiArray.ratio_debt}})
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataTheoDoi($event)"
    *ngIf="theodoiArrays.length > 0 && !isError">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Load more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-row class="ion-align-items-center ion-justify-content-center" style='height: 50%'
    *ngIf="theodoiArrays.length <= 0">
    <ion-spinner class="spinner" name="lines" *ngIf="isFirstTimeLoading"></ion-spinner>
    <div class="no-data" *ngIf="noData">
      <ion-text>No data</ion-text>
    </div>
    <div class="error-info" *ngIf="errorinfo">
      <ion-text>Error happens.Try again !</ion-text>
      <br>
      <ion-button shape="round" color="light" (click)="retry()">
        Try again
      </ion-button>
    </div>
    <div class="try-again-button" *ngIf="errorinfo && requestlists.length > 0">
      <ion-text>Error happens.Try again !</ion-text>
      <br>
      <ion-button shape="round" color="light" (click)="retry()">
        Try again
      </ion-button>
    </div>
  </ion-row>
</ion-content>